<% @creatures.each do |creature| %>
	<p>
		<strong>ID:</strong> <%= creature.id %><br>
		<strong>Name:</strong> <%= creature.name %><br>
		<strong>Description:</strong> <%= creature.description %>
	</p>
<% end %>